:root {
  --xAxisPlayer: 64px;
  --yAxisPlayer: 320px;
  --xAxisComputer: 1160px;
  --yAxisComputer: 50px;
  --yAxisEvilCubeBottom: 320px;
  --yAxisEvilCubeMiddle: 256px;
  --yAxisEvilCubeTop: 192px;
}

.playingFieldLeft {
  width: 1280px;
  height: 320px;
  background-color: rgba(24, 25, 33, 1);
  position: absolute;
  top: 64px;
  left: 64px;
}

.playingFieldRight {
  width: 1280px;
  height: 320px;
  background-color: rgba(24, 25, 33, 1);
  position: absolute;
  top: 50px;
  left: 1160px;
}

.playerCube {
  width: 64px;
  height: 64px;
  background-color: rgba(124, 255, 0, 1);
  position: absolute;
  left: var(--xAxisPlayer);
  top: var(--yAxisPlayer);
}

.computerCube {
  width: 64px;
  height: 64px;
  background-color: rgba(255, 0, 0, 1);
  position: absolute;
  left: var(--xAxisComputer);
  top: var(--yAxisComputer);
}

.evilBlock {
  position: absolute;
}

.evilBlockBottom {
  width: 64px;
  height: 64px;
  background-color: rgba(255, 0, 0, 1);
  position: absolute;
  top: var(--yAxisEvilCubeBottom);
}

.evilBlockMiddle {
  width: 64px;
  height: 64px;
  background-color: rgba(255, 0, 0, 1);
  position: absolute;
  top: var(--yAxisEvilCubeMiddle);
}

.evilBlockTop {
  width: 64px;
  height: 64px;
  background-color: rgba(255, 0, 0, 1);
  position: absolute;
  top: var(--yAxisEvilCubeTop);
}